.sign-out-content {
  position: fixed;
  top: 45px;
  left: 120px;
  height: 40px;
  padding-left: 10px;
  background-color: #c00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  z-index: 7;
}
.sign-out-icon {
  transform: rotate(180deg);
}
.sign-out-text {
  font-size: 18px;
  color: #fff;
  margin: 10px;
}
.sign-out-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 6;
}
#show-sign-out {
  display: flex !important;
}
#hide-sign-out {
  display: none !important;
}
.dark-sign-out {
  background-color: #c00;
}
.light-sign-out {
  background-color: #0A80BB;
}